openapi: 3.0.0
info:
    version: 1.0.0
    contact:
        name: Spryker
        url: 'https://support.spryker.com/'
        email: support@spryker.com
    title: 'Spryker API'
    license:
        name: MIT
servers:
    -
        url: 'https://integration-api.us.sbx1.commerce.ci-aldi.com'
paths:
    /code-authorize:
        post:
            summary: 'Authorization code retrieval endpoint.'
            parameters:
                -
                    $ref: '#/components/parameters/acceptLanguage'
            requestBody:
                description: 'Expected request body.'
                required: true
                content:
                    application/x-www-form-urlencoded:
                        schema:
                            $ref: '#/components/schemas/RestCodeAuthorizeRequest'
            operationId: create-code-authorize
            responses:
                201:
                    description: 'Expected response to a valid request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/RestCodeAuthorizeResponse'
                400:
                    description: 'Bad request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/RestErrorResponse'
                default:
                    description: 'Expected response to a bad request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/RestErrorResponse'
    /token:
        post:
            summary: 'Creates access token for user.'
            parameters:
                -
                    $ref: '#/components/parameters/acceptLanguage'
            requestBody:
                description: 'Expected request body.'
                required: true
                content:
                    application/x-www-form-urlencoded:
                        schema:
                            $ref: '#/components/schemas/RestAccessTokenRequest'
            operationId: create-access-tokens
            responses:
                201:
                    description: 'Expected response to a valid request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/RestAccessTokenResponse'
                400:
                    description: 'Bad request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/RestErrorResponse'
                default:
                    description: 'Expected response to a bad request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/RestErrorResponse'
components:
    parameters:
        acceptLanguage:
            name: Accept-Language
            in: header
            description: 'Locale value relevant for the store.'
            schema:
                type: string
            required: false
    schemas:
        RestAccessTokenRequest:
            properties:
                grant_type:
                    type: string
                    example: authorization_code_backend
                response_type:
                    type: string
                    example: token
                code:
                    type: string
                client_id:
                    type: string
                    example: picking_api
                code_verifier:
                    type: string
                redirect_url:
                    type: string
        RestAccessTokenResponse:
            properties:
                access_token:
                    type: string
                token_type:
                    type: string
                    example: Bearer
                expires_in:
                    type: integer
                    example: 28800
                refresh_token:
                    type: string
        RestCodeAuthorizeRequest:
            properties:
                response_type:
                    type: string
                    example: code
                client_id:
                    type: string
                    example: picking_api
                grant_type:
                    type: string
                    example: authorization_code_backend
                redirect_uri:
                    type: string
                username:
                    type: string
                password:
                    type: string
                code_challenge_method:
                    type: string
                code_challenge:
                    type: string
        RestCodeAuthorizeResponse:
            properties:
                code:
                    type: string
                state:
                    type: string
        RestErrorResponse:
            properties:
                error:
                    type: string
                error_description:
                    type: string
